{% if cart.item_count > 0 %}

  <div class="cart__summary">
    <dl class="row">
      <dt class="col-6">Subtotal{% if cart.taxes_included %} incl. taxes{% endif %}</dt>
      <dd class="col-6 text-end">{{ cart.total_price | money_without_trailing_zeros }}</dd>

      <dt class="col-6">Shipping</dt>
      <dd class="col-6 text-end">calculated at checkout</dd>
    </dl>
  </div>

  <div class="cart__cta mb-3">
    <div class="d-grid gap-2">
      <input type="submit" class="btn btn-primary btn-lg" name="checkout" value="Checkout">
    </div>
  </div>

  <div class="cart__paymenttypes text-center">
    {% for type in shop.enabled_payment_types %}
      {{ type | payment_type_svg_tag }}
    {% endfor %}
  </div>

  <div class="cart__crossell">
  </div>

{% else %}

<p>Your cart is empty. Check out these links to get started:</p>

{% render 'linklist-navlink', list: linklists.main-menu, levels: 0 %}

{% endif %}
