<div class="offcanvas offcanvas-end" tabindex="-1" id="cart-drawer" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Cart</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <form action="{{ routes.cart_url }}" method="post">
      <div class="cart__items">
        {% for item in cart.items %}
          {% render 'cart-item' item: item %}
        {% endfor %}
      </div>
      <div class="cart__updater my-3 text-center">
        <input class="btn btn-secondary" type="submit" value="Update cart">
      </div>

      {% render 'cart-summary' %}

    </form>
  </div>
</div>
