<div class="offcanvas offcanvas-start" tabindex="-1" id="nav-drawer" aria-labelledby="offcanvasLabel">

  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Shop</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <form action="/search" method="get" role="search">
      <div class="input-group mb-3">
        <input class="form-control form-control-lg" type="search" name="q" value="{{ search.terms | escape }}" required="required">
        <input type="hidden" name="type" value="product">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>

    <nav>
    {% render 'linklist-navlink', list: linklists.main-menu %}
    <hr>
    {% render 'linklist-navlink', list: linklists.secondary-menu %}
    </nav>

  </div>
</div>
