<nav class="xx-linklist-flush nav flex-column">
{% for link_lv1 in list.links %}
  <h5><a class="xx-linklist-flush__header-link" href="{{ link_lv1.url }}">{{ link_lv1.title }}</a></h5>
  {% if link_lv1.links.size > 0 %}
    <div class="list-group list-group-flush mb-5">
    {% for link_lv2 in link_lv1.links %}
      <a class="xx-linklist-flush__item-link list-group-item" href="{{ link_lv2.url }}">{{ link_lv2.title }}</a>
    {% endfor %}
    </div>
  {% endif %}
{% endfor %}
</nav>
