{% unless products.size > 0 %}
  <div class="text-center my-5">
    <p>{{ 'products.grid.nothing_found' | t }}</p>
  </div>
{% else %}
  {% liquid
    assign is_filtered_view = false
    if filters != empty
      for filter in filters
        if filter.active_values.size > 0
          assign is_filtered_view = true
          break
        endif
      endfor
    endif
  %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
  {% for product in products %}

    {% liquid
      assign display_image = product.featured_image

      unless product.has_only_default_variant or is_filtered_view == false
        for variant in product.variants
          if variant.matched and variant.image != null
            assign display_image = variant.image
            break
          endif
        endfor
      endunless
    %}

    <div class="col mb-3{% unless product.available %} order-last{% endunless %}">
      {% render 'product-card', product: product, image: display_image %}
    </div>
  {% endfor %}
</div>
{% endunless %}
