<!-- /templates/customers/reset_password.liquid -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">

      {% form 'reset_customer_password' %}

      {{ form.errors | default_errors }}

      <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" value="" name="customer[password]" size="16" required="required" />
      </div>

      <div class="mb-3">
        <label for="password_confirmation">Password Confirmation</label>
        <input type="password" value="" name="customer[password_confirmation]" size="16" required="required" />
      </div>

      <div class="d-grid gap-2">
        <button class="btn btn-primary btn-lg" type="submit">Reset Password</button>
      </div>

      {% endform %}

    </div>
  </div>
</div>
