<div class="container">
  <div class="row g-0 align-items-center">
    <div class="col-8 col-md-10 text-center" style="height: 60px;">
      <a href="{{ routes.root_url }}"><img id="logo" class="img-fluid" loading="eager" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}" src="{{ section.settings.image | img_url: 'x60', scale: 2 }}" alt="logo" /></a>
    </div>
    <div class="col order-first text-center fs-2">
      <a href="#nav-drawer" data-bs-toggle="offcanvas"><i class="bi bi-list"></i></a>
    </div>
    <div class="col text-center fs-2">
      <a href="#cart-drawer" data-bs-toggle="offcanvas"><i class="bi bi-bag"></i></a>
    </div>
  </div>
</div>

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "Header",
  "class": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo (3:1)"
    }
  ]
}
{% endschema %}