<div class="container">
  <div class="row g-0 align-items-center">
    <div class="col-8 col-md-10 text-center" style="height: 60px;">
      <a href="/"><img class="img-fluid" src="https://via.placeholder.com/210x60?text=logo" alt="logo" /></a>
    </div>
    <div class="col order-first text-center fs-2">
      <a href="#nav-drawer" data-bs-toggle="offcanvas"><i class="bi bi-list"></i></a>
    </div>
    <div class="col text-center fs-2">
      <a href="#cart-drawer" data-bs-toggle="offcanvas"><i class="bi bi-bag"></i></a>
    </div>
  </div>
</div>